# large memory files
experiments
tb_loggers
datasets

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.swp

# files for experiments
scripts
rm_archives.sh
datasets/
experiments/
*.pth
*.tar
__pycache__/
results/tb_logger/